################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/VorticeDirectX_Sample.slnx
/obj
/.vs
/bin/Debug/net10.0-windows
